<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>BOSS系统</title>

    {{template "tpl_css.html"}}
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

    <section>
        <!-- left side start-->
        {{template "tpl_menu.html" .}}
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content">

            <!-- header section start-->
            {{template "tpl_head.html" .user}}
            <!-- header section end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">商机列表
                                <span class="tools pull-right">
                                <button class="btn btn-primary" onclick="location.href='./sale_opport_search.html'">高级搜索 <i class="fa fa-search"></i></button>
                                 </span></header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-9">
<!--                                        <button class="btn btn-success" type="button" data-toggle="modal" id="closeOpportBtn">关闭商机</button>-->
                                    </div>
                                    <div class="col-sm-3 searchLine">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="keyWord" placeholder="商机标题或者客户名称">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default search-btn"id="searchOpportBtn"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dashed">
                               <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr onselectstart="return false">
<!--                                                <th >#</th>-->
                                                <th>标题</th>
                                                <th width="260">内容</th>
                                                <th>客户</th>
                                                <th>销售额（单位为万）</th>
                                                <th>状态</th>
                                                <th class="orderByBtn on" width="140" data-key="timex">
                                                    <span>创建时间</span>
                                                    <span class="upBox pull-right">
                                                        <i class="fa fa-caret-up"></i>
                                                        <i class="fa fa-caret-down on"></i>
                                                    </span>
                                                </th>
                                                <th class="orderByBtn" width="140" data-key="estimate_time">
                                                    <span>预计签约时间</span>
                                                    <span class="upBox pull-right">
                                                        <i class="fa fa-caret-up"></i>
                                                        <i class="fa fa-caret-down"></i>
                                                    </span>
                                                </th>
                                                <th class="orderByBtn" width="140" data-key="real_time">
                                                    <span>真实签约时间</span>
                                                    <span class="upBox pull-right">
                                                        <i class="fa fa-caret-up"></i>
                                                        <i class="fa fa-caret-down"></i>
                                                    </span>
                                                </th>
                                                <th>标签</th>
                                                <th>商机状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="opportListBox">
                                        {{template "tpl_noData.html"}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="page_info" id="opport_page"></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--body wrapper end-->

            {{template "tpl_footer.html"}}

        </div>
        <!-- main content end-->
    </section>

   <!-- DelOpportModal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalDelOpport" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                   <form action="" class="form-horizontal">
                    <p></p>
                    <div class="form-group">
                        <label class="control-label col-md-4">商机状态：</label>
                        <div class="col-md-8">
                           <input type="hidden" id="opp_id">
                            <select name="" id="Stage" class="form-control">
                                <option value="0">初步交流（10%）</option>
                                <option value="1">需求沟通（30%）</option>
                                <option value="2">商务沟通（50%）</option>
                                <option value="3">签约交款（100%）</option>
                                <option value="4">商务失败（0%）</option>
                            </select>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                     <button type="submit" class="btn btn-success" id="DelOpportBtn" data-dismiss="modal">确定</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ChangeOpportModal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalChangeOpport" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">修改商机</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <form action="" class="form-horizontal" id="updateOpportForm">
                        <div class="form-group">
                            <label class="control-label col-md-4">标题：</label>
                            <div class="col-md-6">
                                <input data-reg="noNull" id="_OpportTitle" type="text" class="form-control tooltips" data-trigger="hover" 
                                    data-toggle="tooltip" title="" placeholder="" data-original-title="标题">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">内容：</label>
                            <div class="col-md-6">
                                <textarea id="_Content" type="text" class="form-control tooltips" data-trigger="hover" data-toggle="tooltip" title="" placeholder="" 
                                data-original-title="内容" rows="5" style="resize:none"></textarea>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">商机状态：</label>
                            <div class="col-md-6">
                                <select name="" id="_Stage" class="form-control">
                                    <option value="0">初步交流（10%）</option>
                                    <option value="1">需求沟通（30%）</option>
                                    <option value="2">商务沟通（50%）</option>
                                    <option value="3">签约交款（100%）</option>
                                    <option value="4">商务失败（0%）</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">销售额(单位为万)：</label>
                            <div class="col-md-6">
                                <input id="_Quota" type="number" class="form-control tooltips" data-trigger="hover" data-toggle="tooltip" title="" placeholder="" data-original-title="销售额(单位为万)">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">真实签约时间：</label>
                            <div class="col-md-6">
                                <input id="_RealTime" type="text" class="form-control tooltips dpd2" size="16" data-trigger="hover" 
                                    data-toggle="tooltip" title="" placeholder="" data-original-title="真实签约时间：" data-date-format="yyyy-mm-dd">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">标签：</label>
                            <div class="col-md-6">
                                <div id="_updateTags"></div>
                                <div id="_tagAll" onselectstart="return false"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                    <button type="submit" class="btn btn-success" id="changeOpportBtn">修改商机</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/template" id="TplOpportList">
    <%if(list.length == 0){%>
    <tr class="noHref">
        <td colspan="50" class="text-center">暂无记录</td>
    <tr>
    <%}else{%>
    <%for(var i=0;i<list.length; i++){%>
    <tr <%if(!list[i].enabled){%>class="grey"<%}%>>
        <td class="OpportId hide" data-id="<%=list[i].opportunities_id%>">
            <input type="checkbox" name="DelOpportCheck" value="<%=list[i].opportunities_id%>">
        </td>
        <td data-key="title" class="title"><a href="get_emp_biz_detail.html?id=<%=list[i].opportunities_id%>"><%=list[i].title%></a></td>
        <td data-key="content" class="content"><%=list[i].content%></td>
        <td data-key="entName" class="entName" data-id="<%=list[i].customer.entName%>"><%=list[i].customer.entName%></td>
        <td data-key="sales" class="sales"><%=list[i].sales%></td>
        <td data-key="opport_status" class="opport_status"><%=list[i].status%></td>
        <td data-key="timex" class="beginTime"><%=list[i].beginTime%></td>
        <td data-key="estimate_time" class="estimate_time"><%=list[i].estimate_time%></td>
        <td data-key="real_time" class="real_time"><%=list[i].real_time%></td>
        <td data-key="tag" class="tag">
            <%for(var g=0;g<list[i].Tags.length;g++){%><span data-id="<%=list[i].Tags[g].tag_id%>" class="label label-info"><%=list[i].Tags[g].Name%></span><%}%>
        </td>
        <td><%if(list[i].enabled){%>开启状态<%}else{%>关闭状态<%}%></td>
        <td>
            <!--<button class="btn btn-success btn-sm alertOpportBtn" type="button">修改资料</button>-->
            <%if(list[i].enabled){%><button class="btn btn-success btn-sm closeOpportBtn" type="button">关闭商机</button><%}%>
            <!--<button class="btn btn-success btn-sm openOpportBtn" type="button">开启商机</button>-->
        </td>
    </tr>
    <%}%>
    <%}%>
    </script>

    <script type="text/template" id="TplCustomerList">
    <%for(var i =0;i<list.length;i++){%>
    <option value="<%=list[i].customer_id%>"><%=list[i].entName%></option>
    <%}%>
    </script>

    {{template "tpl_js.html"}}

    <script src="js/lodash.min.js"></script>
    <script src="js/myself/global.js"></script>

    <script src="js/myself/opportunities.js"></script>


</body>

</html>